:root {

   --calypsobrass: #edf60d;
   --calypsocopper: rgb(200, 117, 51);

}

*{

  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  overflow: hidden;

}

/*########################################################################## */
/*###### definition of headup-gui-popup-style ################################ */
/*########################################################################## */
.headup-gui{

  position: absolute;
  top: 0vh;
  left: 10vw;

}

#headup-gui-container li {
  list-style: none;
  display: inline-block;
}

#game-timer {
  position: absolute;
  top: 1vh;
  left: 89vw;

  width: 8vw;

}

#headup-gui-spaceship{
  position: absolute;
  top: 1vh;
  left: 2.5vw;

  width: 85vw;

}


/*########################################################################## */
/*###### definition of game-gui-popup-style ################################ */
/*########################################################################## */

.transform {
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}




.game-gui-popup{
  position: absolute;
  left: 5vw;
  bottom: -70vh;/*-70vh;*/


  background-color: var(--calypsocopper);
  border: solid 5px var(--calypsobrass);
  border-radius: 10px;


  margin-left: 0px;
  margin-right: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;

  font-size: 12px;

  height: 84vh;
  width: 90vw;

  overflow: hidden;

}

.game-gui-popup ul{
    padding: 10px;
    margin: 0px;
}

.game-gui-popup li{
    list-style: none;
    padding-bottom: 2px;
    padding-top: 2px;
}

.transform-active {
  bottom: 0vh;
}

#game-gui-popup-container{
  overflow: hidden;

}


#general-popup{

  position: absolute;
  top: 1vh;
  right:25vw;

  width: 20vw;
  height: 37.5vh;

  padding: 5px;

  font-size: 12pt;

}

#storage-popupmenu{

  position: absolute;
  top: 1vh;
  right: 2.5vw;

  height: 37.5vh;
  width: 20vw;

  font-size: 12pt;

}

#storage-popupmenu ul{

  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;

}

#storage-popupmenu li{
  list-style: none;
  display: inline-block;

  font-size: 10px;
  text-align: center;
}

#refinery-popupmenu{

    position: absolute;
    top: 40vh;
    right: 2.5vw;

    height: 37.5vh;
    width: 20vw;

    font-size: 12pt;

  }


#refinery-popupmenu ul{

  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;

}

#refinery-popupmenu li{
  list-style: none;
  display: inline-block;

  font-size: 10px;
  text-align: center;
}

#machine-speed-work-assignement-popup{
  position: absolute;
  top: 40vh;
  right: 25vw;

  height: 37.5vh;

  font-size: 12pt;
}

/* drag and drop Menu */
.drag-and-drop-menu-material-container {
    width: 70px;
    height: 70px;
    padding: 5px;
    border: 1px solid #aaaaaa;
}

.storage-popupmenu-draganddrop-icon{

  height: 65px;
  width: 65px;

  padding:  10px;
}




/* ########################################################################## */
/* ############ class-system gui ########################################### */
/* ########################################################################## */
.energy-value{
    color: white;
}

.oxygen-value{
  color: white;
}

.carbondioxide-value{
  color: white;
}

.weight-value{
  color: white;
}

.wear-value{
  color: white;
}

.time-value{
  color: white;
}
